$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	margin: 150px 10px 10px;
	font-size: 17px;
	@media screen and (max-width: $screen-xs-max) {
		margin: 245px 5px 10px;
		h1 {
			font-size: 2.1em;
		}
	}
}

section {
	padding: 40px 70px;
	margin: 0 auto 40px;
}

#disqus_thread {
	margin-top: 60px;	
}

p {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

h1 {
	font-family: 'Nunito', sans-serif;
	text-align: center;
	font-size: 2.6em;
	color: #2a3b62;
}

h2 {
	font-family: 'Noteworthy', sans-serif;
	text-align: center;
	color: #2F4F99;
	margin-bottom: 20px;
}

h3 {
	font-family: 'Text Me One', sans-serif;
	text-align: center;
	font-weight: 600;
	color: #2a3b62;
}

h4 {
	font-family: 'Nunito', sans-serif;
	margin-top: 40px;
}

.intro {
	margin-bottom: 40px;
	margin-top: 30px;

  @media screen and (max-width: $screen-sm-min) {
		margin-bottom: 0;
	}
}


.logo {
	margin: 20px auto 0;
	img {
		max-width: 230px;
		@media (min-width: $screen-lg-min) {
			max-width: 95%;
		}
	}
}

.timeline {
	img {
		max-width: 100%;
	}
}
.row {
	margin-bottom: 45px;
}

.footer {
	background-color: #0196D5;
	
	h1 {
		color: #FCFCFC; 
		font-family: 'Text Me One', Helvetica, Arial, sans-serif;
		font-weight: 600;
		margin-top: 40px;
	}
	
	p {
		color: #0196d5;
	}
	a {
		color: #FCFCFC;
		font-size: 1.1em;
	}

	li {
		font-family: 'Lato', Helvetica, Arial, sans-serif;
		list-style-type: none;
	}
	.dropdown-menu > li > a {
		font-family: 'Lato', Helvetica, Arial, sans-serif;
		color: #0196d5;
	}
	.social-media {
		@media screen and (max-width: $screen-sm-min) {
			margin-left: 10px;
			font-size: .60em;
		}
	}
	i {
		color: #FCFCFC;
		line-height: 25px;
	}
}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: #0196D5;
}

.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {
	background-color: rgba(1,150,213,.65);	
}

/* contact us page */

img.us {
	width: 300px;
	margin: 40px;
}

.contact {
	padding-bottom: 45px;
	margin: 40px auto 70px;	
	max-width: 1200px;
	i {
		margin: 10px 20px;
		color: #EB5700;
	}
	a {
		color: #0196D5;
		&:hover {
			text-decoration: none;
			color: rgba(1, 150, 213, 0.65);
		}
	}
}
/* end contact us page */

/* about us page */
#about-us {
	max-width: 1200px;
	@media (max-width: $screen-sm-min) {
		padding: 0;
	}
}

.about img {
	width: 170px;
	margin: 20px auto;
}

.about {
	margin: 0 auto 70px;	
	padding: 0 65px;
}
/* end about us page */

/* gear page */

#gear .row {
	margin-bottom: 50px;
}

.gear-list {
	margin-bottom: 70px;
}

.gear-gallery img {
	max-width: 70%;
}

.hubba {
	margin-top: 80px;
}

/* end gear page */

/* vlog page */

img.ride-on {
	max-width: 200px;
	margin-bottom: 10px;
}

/* end vlog page */

/* route page */

#route iframe {
 margin-bottom: 30px;
}

/* end route page */

.page-header {
	border-bottom: none;
	padding-top: 30px;
	max-width: 900px;
	h3 {
		font-weight: 300;
		color: #0196D5;
	}
}

.row.stats, .row.timeline-row {
	margin-left: 20px;
	@media (max-width: $screen-sm-min) {
		margin-top: 0;
		margin-left: 0;
	}
}

.stats {
	margin-top: 40px;
	@media (max-width: $screen-sm-min) {
		margin-top: 0;
		margin-left: 0;
	}
}

.stats > div {
	@media (max-width: $screen-sm-min) {
		padding-top: 10px;
	}
}

.youtube {
	h2 {
		max-width: 560px;
		margin-top: 25px;
	}
	@media (min-width: $screen-md-min) {
		margin-left: 60px;
		iframe {
			min-height: 320px;
		}
	}
}

.timeline-row {
	@media (max-width: $screen-md-min) {
		display: none;
	}
}

.instagram {
	h2 {
		max-width: 320px;
		margin-top: 25px;
	}
}

.strava {
	@media screen and (max-width: $screen-sm-min) {
		max-width: 90%;
		}
	iframe {
		height: 175px;
	}
}

.page-description {
	margin: 40px 70px 30px;	
	max-width: 850px;
	@media screen and (max-width: $screen-sm-min) {
		margin: 30px 10px 20px;
		}
}

.donate {
	margin: 25px auto 0;
	a {
		background-color: #F15A29;
		vertical-align: middle;
		border-color: #F15A29;
		margin: auto;
		font-size: 1.2em;
	}
	.btn {
		min-width: 260px;
		max-width: 350px;
		margin: 15px auto;
		padding-top: 20px;
  	padding-bottom: 20px;
		@media screen and (max-width: $screen-sm-min) {
			font-size: 1em;
		}
	}
}

div.donate.row {
	max-width: 800px;
}

#sponsors h2 {
	margin: 30px 0 50px;	
}

.sponsor img {
	margin: 40px auto 20px;
	width: 320px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width:768px) {
	.container {
		max-width: 768px;
	}
}

@media screen and (min-height: 720px) {
	.timeline-row {
		margin-top: 10px;
	}
}